*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body {
    padding: 0px 20px;
    scroll-behavior: smooth;
}
.title{
    margin-top: 20px;
    text-align: center;
}
.subtitle{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu > a {
    text-decoration: none;
}
.menu-triangle {
    text-decoration: none;
    background-color: aqua;
    color: black;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}
.menu-parallelogram {
    text-decoration: none;
    padding: 15px 15px;
    text-align: center;
}
.triangle-subdiv {
    text-decoration: none;
    background-color: aqua;
    color: black;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.image-triangle {
    display: block;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
}
.formula {
    margin-top: 20px;
    text-align: center;  
}
.subformula {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.explanation {
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: left;
}
.calculate{
    padding: 10px;
    text-align: center;
}
.form-triangle{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.result {
    display: flex;
    padding: 10px;
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 10px;
}
.button-triangle {
    padding: 6px 8px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 6px;
}
.button-reset {
    padding: 6px 8px;
    background-color: red;
    color: black;
    border: none;
    border-radius: 6px;
}
.card-triangle {
    border: 1px aqua solid;
    padding: 20px;
    box-shadow: 10px 9px 11px -3px rgba(29,21,162,0.45);
}

.Parallelogram-subdiv {
    text-decoration: none;
    background-color: aqua;
    color: black;
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
.image-parallelogram {
    display: block;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.form-parallelogram{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.button-parallelogram {
    padding: 6px 8px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 6px;
}
.card-parallelogram {
    border: 1px aqua solid;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 10px 9px 11px -3px rgba(29,21,162,0.45);
}

.image-footer{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    width: 200px;
}
.footer {
    margin-top: 0px;
    text-align: center;
}